:root {
  --bg-dark: #0b1120;
  --bg-card: #1e293b;
  --primary: #2563eb;
  --success: #22c55e;
  --danger: #ef4444;
  --text-main: #f1f5f9;
  --text-muted: #94a3b8;
}



body {
  background-color: var(--bg-dark);
  color: var(--text-main);
}
