#mainDiv{
    border: 1px solid #000;
    width: 700px;
    height: 700px;
    background-color: aqua;
    display: flex;
    gap: 10px;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}

.subDiv{
    border: 1px solid #000;
    width: 40px;
    height: 40px;
    background-color: brown;
}