#d1{
    border:5px solid black;
    border-radius: 100px;
    width: 300px;
    height:100px;
    font-size: 60px;
   font-weight:100;
    padding:80px;
    margin:50px;
   
    background-color:antiquewhite ;
    
}
#d1 span{ 
    background: linear-gradient(90deg,red, green, blue);
    
    background-clip: text;
   color:transparent;
    -webkit-text-stroke: 2px rgb(255, 255, 255) ; 

}
#d2{border:1px solid black;
    border-radius: 40px;
    width: 300px;
    height:50px;
    font-size: 50px;
    background-color:brown;
    padding:10px 20px 30px 40px;
    margin-left:15px;

    box-shadow: 5px 5px 10px 1px black;
    

}

