#bulb{

    padding: 50px;
    border: 1px solid #000;
    border-radius: 50%;
    width: fit-content;
    
}
button{
    margin: 10px;
}
#smartBulb{
padding: 50px;
    border: 1px solid #000;
    border-radius: 50%;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.On{
    background-color: yellow;
}