 a{
   text-decoration: none;
        color: #000;
     }
  a:hover{
          color: coral;
     }
.brand span {
    color: rgb(206, 68, 68);
    transition: color 0.4s ease;
}
.brand span:hover {
    color: blue;
}
.hero{
    
    background: radial-gradient(circle at top, rgba(212,175,55,0.15), rgba(0,0,0,0.85)), url("shop.jpg");
    background-size: cover;
    background-position: center;
    height: 90vh;
    text-align: center;
    
}
.content h1 span {
color: #ffe600;
}
.content h1 span:hover {
    color:aqua;
}
.start{
    background:linear-gradient(135deg, #e8ebec, #f27805);
    color: black;
    text-decoration: none;
    transition: 0.3s ease;
}
.start:hover{
    background:linear-gradient(135deg, #d4af37, #f7e27d);
    color:black;
}
