h1 {
  color: red;
  font-size: 3rem;
  transition: transform 0.5s ease;
}
h1:hover {
  transform: scale(1.7);
  span:hover {
    color: rgb(221, 210, 14);
  }
}
h1 span {
  color: blue;
}
body {
  background: rgb(22, 22, 23) !important;
}
