h1 {
  color: red;
  font-size: 3rem;
  transition: transform 0.5s ease;
}
h1:hover {
  transform: scale(0.6);
  span:hover {
    color: rgb(120, 9, 19);
  }
}
h1 span {
  color: blue;
}
body {
  background: black !important;
}
