#head {
  color: red;
  font-size: 5rem;
  transition: color 0.5s ease, transform 0.5s ease;

}
#head:hover {
  transform: scale(0.7);
  span:hover {
    color: rgb(60, 8, 8);
  }
}
#head span {
  color: blue;
}
