#box1{
    margin: 50px;
padding: 30px;
width:fit-content;
border: 1px solid #000;
display: flex;
justify-content: center;
align-items: center;
}
#box2{
width: 600px;
border: 1px solid #000;
}
#B3{
    margin: 10px;
}