#d1{
    background-color: rgb(11, 11, 103);
    margin-left: 550px;
    margin-top: 100px;
    border-radius: 30px;
    border: 5px solid #000;;
}
#d2{
    background-color: rgb(221, 17, 17);
    
    border-radius: 30px;
    margin-top:40px ;
}

#content:hover{
background-color: rgb(36, 139, 139);
transition: background-color 1s ease-out;
transform: rotatey(360deg);
transition:transform 1s  ;
}
input:hover{
background-color: rgb(210, 107, 186);
}
select:hover{
    background-color:rgb(158, 76, 132);
}